* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-style: 500;
}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 250px;
}

/*NAVBAR*/
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #776B5D;
    padding: 20px;
    font-style: 700;
    text-transform: uppercase;
    list-style: none;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link {
    color: #F3EEEA;
    text-decoration: none;
    transition: .5s;
}

#navbar .nav-link:hover {
    color: #EBE3D5;
}

/*FOOTER*/
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #776B5D;
    color: #F3EEEA;
    padding: 50px 0;
}